
{% extends 'base.html' %}
{% block content %}

<section class="mbr-section form1 cid-rAw8bCJORZ" id="form1-y">

<div class="container">
<div class="row justify-content-center">
<div class="title col-12 col-lg-8">
<h1 class="mbr-section-title align-center pb-3 mbr-fonts-style display-5">CONTACT FORM</h1>
<h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-7">
Fill in your details - name, contact number, email id and your query. We will get back to you in 2 business days.</h3>
</div>
</div>
</div>

<div class="container">
<div class="row justify-content-center">
<div class="title col-12 col-lg-8">
<div class="col-md-12 input-group-btn align-left">

	<!---Formbuilder Form--->
	<form method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="Signup" data-form-email="true"value="dViuNvt6/CbrDw701OpTpBpAl0BW0Jm2asy882PMzoHlz3GwOozgGeQj03LFptovFHt9lMCkJKoKRvfsDKqbhsPLdij1HXlIb1DcNFvWyO5ATWhRUR4fB1ContactForm">  
	{% csrf_token %}
	<table >
	{{ form.as_table }}
	</table>
	<div class="col-md-12 input-group-btn align-center">
	<button type="submit" class="btn btn-form btn-primary-outline display-4">
	<span class="mbri-delivery mbr-iconfont mbr-iconfont-btn"></span>send</button>
	</div>
	</form><!---Formbuilder Form--->

</div>
</div>
</div>
</div>

</section>

{% endblock %}
