{% extends 'base.html' %}
{% block content %}

<section class="cid-rAvXIOKR21 mbr-fullscreen" id="header2-s">

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1"><span style="font-weight: normal;">
                    </span><br><span style="font-weight: normal;">Selective Tests</span></h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">Pathway to Success&nbsp;</h3>

		<p class="mbr-text pb-3 mbr-fonts-style display-7">
		Selective Tests provides online practice tests to help students prepare for the NSW Opportunity Class and NSW Selective School Exams.
		Here you will get access to  test materials  that will challenge your English, Math and General Ability skills. <br><br>
		This tool is meant to augment your test preparation.
		Those who embrace a more systematic study routine along with assessing their skills using selective tests tool will have a higher chance of success.
		Selective will help you understand the areas that need focus and improvement and you can allocate your study time accordingly.
		Each question is carefully formulated and provides a detailed solution on how to arrive at the answer.  <br><br>
		We encourage the students to review the answers immediately after the test. No review of the answer sheets are allowed after the session is closed. 
		The student can take each test any number of times.<br><br>
		You can use this tool for free after you have registered yourself. <br><br>
		Congratulations on finding this awesome tool and all the best  for your exams.<br>
		</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-danger-outline display-4" href="http://www.selectivetests.gq/contact">Signup</a>
                    <a class="btn btn-md btn-danger-outline display-4" href="http://www.selectivetests.gq/exam?test=trial">Try Me </a></div>
            </div>
        </div>
    </div>
    
</section>
<!--
<section class="pricing-table3 cid-rAvXTDC8hs" id="pricing-tables3-u">

    

    
    <div class="container">
        <div class="media-container-row">
            <div class=" col-12 col-lg-4 col-md-6 my-2">
                <div class="pricing">
                    <div class="plan-header">
                        <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                                $
                            </span>
                            <span class="price-figure mbr-fonts-style display-1"><span style="font-weight: normal;">39</span></span>
                            <h3 class="plan-title mbr-fonts-style display-7">1 Month</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="plan-body">
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                        
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 col-md-6 my-2">
                <div class="pricing">
                    <div class="plan-header">
                        <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                                $
                            </span>
                            <span class="price-figure mbr-fonts-style display-1"><span style="font-weight: normal;">
                                69</span></span>
                            <h3 class="plan-title mbr-fonts-style display-7">
                                3 months</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="plan-body">
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                        
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 col-md-6 my-2">
                <div class="pricing">
                    <div class="plan-header">
                        <div class="plan-price">
                            <span class="price-value mbr-fonts-style display-5">
                                $
                            </span>
                            <span class="price-figure mbr-fonts-style display-1"><span style="font-weight: normal;">
                                99</span></span>
                            <h3 class="plan-title mbr-fonts-style display-7">
                                12 Months</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="plan-body ">
                        <p class="mbr-text mbr-fonts-style display-7"></p>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
-->
{% endblock %}
