{% extends 'base.html' %}
{% block content %}



<section class="mbr-section form1 cid-rAw8bCJORZ" id="form1-y">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-7">
                    You are logged out!
                </h2>
               
                    <div class="col-md-12 input-group-btn align-center">

                        <a href="http://127.0.0.1:8000/login" class="btn btn-form btn-primary-outline display-4">
                            <span class="mbri-delivery mbr-iconfont mbr-iconfont-btn"></span>login</a>
                    </div>


            </div>
        </div>
    </div>

</section>

{% endblock %}