{% extends 'base.html' %}
{%block content %}

<section class="section-table cid-rAvsSn4jIB" id="table1-l">

  
  
  <div class="container container-table">
      <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-4"><br>The Selective High School Placement Test is designed to measure ability through tests in reading, mathematics, general ability and writing.<br>The Selective High School Placement Test consists of a 20 minute writing test and three 40 minute multiple-choice tests in:<div><br></div><div>reading (45 questions)</div><div>mathematics (40 questions)</div><div>general ability (60 questions).</div><br><br><div>Students will be more comfortable with the test process if they are familiar with the format of the test, the types of questions and what the answer sheet looks like. Below tests are provided to help students become familiar with the test and to practise answering quickly.&nbsp;</div></h2>
      <h3 id='maths' class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-5"><u>Maths</u></h3>
      {% if user.is_authenticated %}
      <div class="table-wrapper">
        <div class="container">
          
        </div>

        <div class="container scroll">
          <table class="table" cellspacing="0">
            <thead>
              <tr class="table-heads ">    

              <th class="head-item mbr-fonts-style display-7">Selective</th><th class="head-item mbr-fonts-style display-7"></th><th class="head-item mbr-fonts-style display-7"></th><th class="head-item mbr-fonts-style display-7"></th></tr>
            </thead>

            <tbody>      
              
            <tr> 
   
              <td class="body-item mbr-fonts-style display-7"><a href ="http://www.selectivetests.gq/exam?test=trial">Trial Test</a></td><td class="body-item mbr-fonts-style display-7"><a href ="#">Test 1</a></td><td class="body-item mbr-fonts-style display-7"><a href ="#">Test 2</a></td><td class="body-item mbr-fonts-style display-7"><a href ="#">Test 3</a></td></tr><tr>
  
              <td class="body-item mbr-fonts-style display-7"><a href ="#">Test 4</a></td><td class="body-item mbr-fonts-style display-7"><a href ="#">Test 5</a></td><td class="body-item mbr-fonts-style display-7"><a href ="#">Test 6</a></td><td class="body-item mbr-fonts-style display-7"><a href ="#">Test 7</a></td></tr><tr>

              <td class="body-item mbr-fonts-style display-7"><a href ="#">Test 8</a></td><td class="body-item mbr-fonts-style display-7"><a href ="#">Test 9</a></td><td class="body-item mbr-fonts-style display-7"><a href ="#">Test 10</a></td><td class="body-item mbr-fonts-style display-7"></td></tr>
            </tbody>
          </table>
        </div>
        <div class="container table-info-container">
          
        </div>
      </div>
      {% else %}
            <div class="table-wrapper">
        <div class="container">
          
        </div>

        <div class="container scroll">
          <table class="table" cellspacing="0">
            <thead>
              <tr class="table-heads ">    

              <th class="head-item mbr-fonts-style display-7">Selective</th><th class="head-item mbr-fonts-style display-7"></th><th class="head-item mbr-fonts-style display-7"></th><th class="head-item mbr-fonts-style display-7"></th></tr>
            </thead>

            <tbody>      
              
            <tr> 
   
              <td class="body-item mbr-fonts-style display-7"><a href ="http://www.selectivetests.gq/exam?test=trial">Trial Test</a></td><td class="body-item mbr-fonts-style display-7">Test 1</td><td class="body-item mbr-fonts-style display-7">Test 2</td><td class="body-item mbr-fonts-style display-7">Test 3</td></tr><tr>
  
              <td class="body-item mbr-fonts-style display-7">Test 4</td><td class="body-item mbr-fonts-style display-7">Test 5</td><td class="body-item mbr-fonts-style display-7">Test 6</td><td class="body-item mbr-fonts-style display-7">Test 7</td></tr><tr>

              <td class="body-item mbr-fonts-style display-7">Test 8</td><td class="body-item mbr-fonts-style display-7">Test 9</td><td class="body-item mbr-fonts-style display-7">Test 10</td><td class="body-item mbr-fonts-style display-7"></td></tr>

            </tbody>
          </table>
        </div>
        <div class="container table-info-container">
          
        </div>
      </div>
      {% endif %}

    </div>
</section>

<section class="section-table cid-rAwKO1blMc" id="table1-10">

  <div class="container container-table">
      
      <h3 id='english' class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-5"><u>English</u></h3>
      <div class="table-wrapper">
        <div class="container">
          
        </div>

        <div class="container scroll">
          <table class="table" cellspacing="0">
            <thead>
              <tr class="table-heads ">
                  
                  
                  
                  
              <th class="head-item mbr-fonts-style display-7">Selective</th><th class="head-item mbr-fonts-style display-7"></th><th class="head-item mbr-fonts-style display-7"></th><th class="head-item mbr-fonts-style display-7"></th></tr>
            </thead>

            <tbody>
              
              
              
              
            <tr> 
                
                
                
                
              <td class="body-item mbr-fonts-style display-7">Trial Test</td><td class="body-item mbr-fonts-style display-7">Test 1</td><td class="body-item mbr-fonts-style display-7">Test 2</td><td class="body-item mbr-fonts-style display-7">Test 3</td></tr><tr>
                
                
                
                
              <td class="body-item mbr-fonts-style display-7">Test 4</td><td class="body-item mbr-fonts-style display-7">Test 5</td><td class="body-item mbr-fonts-style display-7">Test 6</td><td class="body-item mbr-fonts-style display-7">Test 7</td></tr><tr>
                
                
                
                
              <td class="body-item mbr-fonts-style display-7">Test 8</td><td class="body-item mbr-fonts-style display-7">Test 9</td><td class="body-item mbr-fonts-style display-7">Test 10</td><td class="body-item mbr-fonts-style display-7"></td></tr>

            </tbody>
          </table>
        </div>
        <div class="container table-info-container">
          
        </div>
      </div>
    </div>
</section>

<section class="section-table cid-rAwLUuzF2C" id="table1-11">

  <div class="container container-table">
      
      <h3 id='ga' class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-5"><u>General Ability</u></h3>
      <div class="table-wrapper">
        <div class="container">
          
        </div>

        <div class="container scroll">
          <table class="table" cellspacing="0">
            <thead>
              <tr class="table-heads ">
                  
                  
                  
                  
              <th class="head-item mbr-fonts-style display-7">Selective</th><th class="head-item mbr-fonts-style display-7"></th><th class="head-item mbr-fonts-style display-7"></th><th class="head-item mbr-fonts-style display-7"></th></tr>
            </thead>

            <tbody>
              
              
              
              
            <tr> 
                
                
                
                
              <td class="body-item mbr-fonts-style display-7">Trial Test</td><td class="body-item mbr-fonts-style display-7">Test 1</td><td class="body-item mbr-fonts-style display-7">Test 2</td><td class="body-item mbr-fonts-style display-7">Test 3</td></tr><tr>
                
                
                
                
              <td class="body-item mbr-fonts-style display-7">Test 4</td><td class="body-item mbr-fonts-style display-7">Test 5</td><td class="body-item mbr-fonts-style display-7">Test 6</td><td class="body-item mbr-fonts-style display-7">Test 7</td></tr><tr>
                
                
                
                
              <td class="body-item mbr-fonts-style display-7">Test 8</td><td class="body-item mbr-fonts-style display-7">Test 9</td><td class="body-item mbr-fonts-style display-7">Test 10</td><td class="body-item mbr-fonts-style display-7"></td></tr>

            </tbody>
          </table>
        </div>
        <div class="container table-info-container">
          
        </div>
      </div>
    </div>
</section>

{% endblock %}
