
{% extends 'base.html' %}
{% block content %}

<section class="mbr-fullscreen form1 cid-rAw8bCJORZ" id="form1-y">

<div class="container">
<div class="row justify-content-center">
<div class="title col-12 col-lg-8">
<p class="mbr-section-title align-left pb-3 mbr-fonts-style display-5">The activation link is sent to your registered email. Please activate your account to login.</p>

<a class="text-danger display-5" href="{% url 'login' %}">Login Back</a>


</div>

</div>
</div>

</section>

{% endblock %}