
{% extends 'base.html' %}
{% block content %}

<section class="mbr-fullscreen form1 cid-rAw8bCJORZ" id="form1-y">

<div class="container">
<div class="row justify-content-center">
<div class="title col-12 col-lg-8">
<p class="mbr-section-title align-left pb-3 mbr-fonts-style display-5">Login</p>
<div class="col-md-12 input-group-btn align-left">
	<!---Formbuilder Form--->
	<form method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="Signup" data-form-email="true" value="dViuNvt6/CbrDw701OpTpBpAl0BW0Jm2asy882PMzoHlz3GwOozgGeQj03LFptovFHt9lMCkJKoKRvfsDKqbhsPLdij1HXlIb1DcNFvWyO5ATWhRUR4fB1login">  
	{% csrf_token %}
	<table>{{ form.as_table }}</table>
	<div class="col-md-12 input-group-btn align-center">
	<button type="submit" class="btn btn-form btn-primary-outline display-4">login</button>
	<a class="btn btn-form btn-primary-outline display-4" href="{% url 'signup' %}">Signup</a>
	</div>
	</form><!---Formbuilder Form--->
</div>
</div>
</div>
</div>
</section>

{% endblock %}