
{% extends 'base.html' %}
{% block content %}

<section class="mbr-fullscreen form1 cid-rAw8bCJORZ" id="form1-y">
<div class="container">
	<div class="row justify-content-center">
		<div class="title col-12 col-lg-8">
			<h1 class="mbr-section-title align-center pb-3 mbr-fonts-style display-5">You are logged out</h1>
			<div class="mbr-section-btn align-center"><a class="btn btn-md btn-danger-outline display-4" href="{% url 'login' %}">Login</a></div>
		</div>
	</div>
</div>
</section>

{% endblock %}